<nav id="menu" class="nav-side-menu">
            <div class="menu-heading">Menu</div>
            <ul class="side-menu">
                <li class="side-menu-item hvr-sweep-to-right"><a href="#"><span class="icon-dashboard"></span>Dashboard</a></li>
                <li class="side-menu-item"><a href="#"><span class="icon-fault"></span>Fault</a></li>
                <li class="side-menu-item"><a href="#"><span class="icon-performance"></span>Performance</a></li>
                <li class="side-menu-item"><a href="#"><span class="icon-trouble-ticket"></span>Trouble Tickets</a></li>
                <li class="side-menu-item"><a href="#"><span class="icon-change"></span>Change</a></li>
                <li class="side-menu-item"><a href="#"><span class="icon-ola"></span>OLA</a></li>
                <li class="side-menu-item"><a href="#"><span class="icon-network"></span>Network</a></li>
                <li class="side-menu-item"><a data-toggle="collapse" href="#submenucollapse" aria-expanded="false" aria-controls="submenucollapse"><span class="icon-network"></span>Network</a>
                    <ul class="sub-menu collapse" id="submenucollapse">
                        <li class="sub-menu-item"><a href="#">Sub menu Item 1</a></li>
                        <li class="sub-menu-item"><a href="#">Sub menu Item 2</a></li>
                        <li class="sub-menu-item"><a href="#">Sub menu Item 3</a></li>
                        <li class="sub-menu-item"><a href="#">Sub menu Item 4</a></li>
                    </ul>                    
                </li>
                                                  
            </ul>
        </nav>
        <div id="panel" class="main-background-container">
            <div class="header-top">
                <button class="btn toggle-button">☰</button>
                <div class="main-brand">
                    <img src="./assets/images/eop-logo-v2.svg">
                </div>
                <div class="user-account">
                    <div class="btn-group">
                        <button type="button" class="btn btn-user dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Mohammed Aamir <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="#">Account Settings</a></li>
                            <li><a href="#">Administration</a></li>
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="col-md-12 white-bg-wrapper">
                    <div class="page-heading">
                        <h1>Dashboard</h1>
                    </div>
                    <div class="breadcrumbs">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                    </div>
                </div>
                <div class="col-md-12 white-bg-wrapper">
                    <div class="page-heading">
                        <h1>Welcome</h1>
                    </div>
                </div>
            </div>

        </div>

